<template>
  <require from="../../converters/mapToIterableValueConverter"></require>
  <div class="ui four cards">
    <div repeat.for="player of _players | mapToIterable" class="ui raised card">
      <div class="content">
        <img class="right floated mini ui image" src.bind=$parent.generatePlayerAvatar(player._id)>
        <div class="header">
          ${player.name}
        </div>
        <div class="meta">
          Meta text TBD
        </div>
        <div class="description">
          ${player.name} gained ${player.points} points by the age of ${player.age}
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Explore</div>
          <div class="ui basic red button" click.delegate=$parent.remove(player._id)>Remove</div>
        </div>
      </div>
      <div class="ui bottom attached button" click.delegate=$parent.edit(player._id)>
        <i class="edit icon"></i>
        Edit Player
      </div>
    </div>
  </div>
</template>
